
.percent{
  width: 5rem;
  height: 2.5rem;
  border-radius: 50px;
  background-color: white;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: 3px solid #87eb5d;
  cursor: pointer;
  margin-right: 1rem;
}
*:focus {
  outline: 0 !important;
}
.active-percent{
  background-color: #6DBC3A;
  color: white;
  font-weight: 800;
  border: none;
  outline: none;

}

.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.1); }
