body{
  background-image: url("./assets/banner4.jpeg");
  background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.App {
  display:block;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  height: 100vh;
  
}





